.home {
  background-color: #18191a;
  position: relative;
}
.content {
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: flex-start;

  .content-middle {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .content-sticky {
    position: sticky;
    top: 60px;
  }
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
