.home {
  background-color: #18191a;
  position: relative;
}
html {
  background-color: #18191a;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  background-color: #242526;
  margin: 10px 5px;
  border-radius: 10px;
  padding: 10px 15px;
}
.messengerPopup {
  position: fixed;
  right: 90px;
  bottom: 0px;
}
.tooltip {
  display: none;
  position: absolute;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 7px 10px;
  color: black;
  bottom: -36px;
  font-size: 13px;
}
h2 {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
