.about {
  min-height: 100vh;
  .active li {
    width: 100%;
    height: 100%;
    box-shadow: none;
    background-color: #263951;
    span {
      color: $bleuClair;
    }
    &:hover {
      background-color: #263951;
    }
  }
  .btn-blue {
    color: $bleuClair;
    font-weight: 600;
    padding: 10px;
    border-radius: 7px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background-color: rgba(82, 82, 82, 0.377);
    }
  }
  .action-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: white;
  }
  ul li {
    list-style: none;
    min-height: 35px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 7px;
    padding: 5px 10px;
    position: relative;
    left: -10px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 15px;
    font-weight: 600;
    &:hover {
      background-color: rgba(110, 110, 110, 0.404);
    }
  }
  &__header {
    display: flex;
    &__left {
      border-right: 1px solid rgba(104, 104, 104, 0.555);
      padding: 5px;
      width: 23%;
    }
    &__right {
      padding: 5px;
      margin-left: 10px;
      width: 77%;
      ul li {
        margin: 20px 0;
        cursor: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          background-color: transparent;
        }
        &:nth-child(1) {
          margin: 0;
        }
      }
      &__left {
        display: flex;
        align-items: center;
      }
      &__liRight {
        display: flex;
        align-items: center;
        img {
          margin-right: 15px;
        }
      }
      &__friends {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 10px;
        &:hover {
          background-color: rgba(110, 110, 110, 0.404);
        }
        &__friendsImg {
          filter: invert(60%);
        }
        &__more {
          background-color: #5c5c5c67;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.2s ease;
          font-weight: 700;
          &:hover {
            filter: brightness(115%);
          }
        }
      }
    }
  }
  &__friends {
    display: flex;
    flex-direction: column;
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__onglet ul {
      display: flex;
      li {
        padding: 20px;
      }
    }
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
    }
    &__footer {
      margin-top: 10px;
      width: 100%;
      height: 45px;
      button {
        height: 40px;
        width: 100%;
        font-weight: 600;
        color: white;
        border-radius: 7px;
        background-color: #4e4f50;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          filter: brightness(110%);
        }
      }
    }
  }
  &__photo {
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
