.aboutWork {
  h2 {
    font-size: 17px;
    margin-top: 10px;
  }
  &__section {
    margin-bottom: 20px;
  }
  .aboutWork__card {
    display: flex;
    justify-content: space-between;

    &__img {
      width: 45px;
      height: 45px;
      background-color: grey;
      border-radius: 50%;
      margin-right: 15px;
    }
    &__content {
      flex: 2;
      font-weight: 500;
      &__time {
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__friends {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: invert(60%);
        &:hover {
          background-color: rgba(110, 110, 110, 0.404);
        }
      }
      &__plus {
        width: 35px;
        height: 35px;
        background-color: rgba(128, 128, 128, 0.26);
        color: white;
        border-radius: 50%;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        &:hover {
          filter: brightness(115%);
        }
      }
    }
  }
}
