.btn-menu {
  button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    min-height: 55px;
    padding: 7px;
    transition: all 0.1s ease-out;
    width: 100%;
    background-color: transparent;
    &:hover {
      background-color: #8a8d9144;
    }
    .btn-menu-text {
      margin-left: 10px;
      .btn-menu-text-title {
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
      }
      .btn-menu-text-subText {
        font-size: 13px;
      }
    }
  }
}
