.buttonAction {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  .contain {
    background-color: #3a3b3c;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    &:hover {
      filter: brightness(120%);
    }
  }
  .bleu {
    background-color: #2d88ff;
  }
}
.small {
  width: 50px;
}
