.button_circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: #3a3b3c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 17px;
    }
    &:hover {
      filter: brightness(120%);
    }
  }
  &:active {
    filter: brightness(80%);
  }
  .active-btn-cirle {
    background-color: #0269fa2c;
  }
}
