.friendsPage {
  display: flex;
  min-height: 100vh;
  position: relative;
  .friendsPageFond {
    position: relative;
    width: 360px;
    min-height: inherit;
    border-right: 1px solid rgb(73, 73, 73);
    background-color: $color-header;
  }
  &__left {
    position: fixed;
    width: 360px;
    height: inherit;
    padding: 7px;
    border-right: 1px solid rgb(73, 73, 73);
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 24px;
        margin: 5px 0px 15px 10px;
        width: fit-content;
      }
      &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: rgba(192, 192, 192, 0.116);
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          filter: brightness(115%);
        }
        .imgEcrou {
          width: 20px;
          height: 20px;
          background-image: url(../../img/palette77.png);
          background-position: 0px -305px;
          filter: invert(80%);
        }
      }
    }
    &__actions {
      margin-top: 5px;
      span {
        flex: 2;
        font-weight: 600;
        font-size: 17px;
        color: rgb(228, 228, 228);
      }
      &__accueil {
        background-color: rgba(192, 192, 192, 0.116);
      }
    }
  }
  &__right {
    padding: 20px;
    flex-grow: 1;
    margin-bottom: 5px;
    &__invitations {
      margin-top: 10px;
      padding: 0 5px 25px 0;
      border-bottom: 1px solid rgb(73, 73, 73);
      margin-bottom: 15px;
      &__header {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        margin-bottom: 10px;
      }
      &__content {
        display: flex;
        padding-left: 10px;
      }
    }
    &__maybe {
      margin: 0 10px;
      .maybe__content__header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0;
      }
      .maybe__content__main {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
    }
  }
  .friendsPage__right__card {
    width: 240px;
    height: 395px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 7px;
    overflow: hidden;
    background-color: $color-header;
    .card__img {
      height: 60%;
      width: 100%;
      background-color: grey;
      cursor: pointer;
    }
    .card__bot {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      height: 40%;
      .card__name {
        margin-bottom: 5px;
        cursor: pointer;
      }
      .btn-confirm {
        margin: 7px 0;
        background-color: $bleuClair;
      }
      .btn-delete {
        background-color: rgba(192, 192, 192, 0.171);
      }
      button {
        width: 100%;
        height: 35px;
        border-radius: 7px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        &:hover {
          filter: brightness(110%);
        }
      }
      .card__name {
        font-size: 17px;
        font-weight: 700;
        color: #fff;
      }
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    .action-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 37px;
      width: 37px;
      border-radius: 50%;
      background-color: #3a3b3c;
      margin-right: 10px;
      svg {
        margin-top: 5px;
      }
    }
    &:hover {
      background-color: rgba(192, 192, 192, 0.116);
    }
    &:hover .action-img {
      filter: brightness(115%);
    }
    .flecheD {
      background-image: url(../../img/arrow-down-simple.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      transform: rotate(-90deg);
      filter: brightness(70%);
    }
    .svgIn {
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      filter: invert(80%);
    }

    .friendsInvite {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -343px;
    }
    .friendsAdd {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -301px;
    }
    .friendsList {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -322px;
    }
    .annif {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -406px;
    }
  }
  .seeAll {
    padding: 7px;
    color: $bleuClair;
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    &:hover {
      background-color: rgba(192, 192, 192, 0.116);
    }
  }
  .imgaccueil {
    background-color: $bleuClair !important;
  }
}
