.friends-vignette {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(83, 83, 83, 0.13);
  padding: 15px;
  border-radius: 10px;
  &__imageProfil {
    position: relative;
    &:hover .friends-vignette-popup {
      display: block;
    }
    .friends-vignette-popup {
      top: -252px;
      left: -120px;
      position: absolute;
      z-index: 5;
      display: none;
    }
  }
  .imgProfil {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    &:hover {
      filter: brightness(110%);
    }
  }
  &__donnees {
    flex: 2;
    margin-left: 15px;
    position: relative;
    &:hover &__popup {
      display: block;
    }
    &__popup {
      top: -250px;
      position: absolute;
      z-index: 5;
      display: none;
    }
    &__name {
      font-weight: 700;
      color: white;
      font-size: 17px;
      cursor: pointer;
    }
    &__sub {
      font-size: 14px;
    }
  }
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &:hover {
      background-color: rgba(110, 110, 110, 0.404);
    }
  }
}
