.friendsPage {
  display: flex;
  min-height: 100vh;
  position: relative;
  .friendsPageFond {
    position: relative;
    min-width: 360px;
    min-height: inherit;
    border-right: 1px solid rgb(73, 73, 73);
    background-color: $color-header;
  }
  &__left {
    position: fixed;
    width: 360px;
    height: inherit;
    padding: 7px;
    border-right: 1px solid rgb(73, 73, 73);
  }
  &__right {
    padding: 20px;
    flex-grow: 1;
    margin-bottom: 5px;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    .action-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 37px;
      width: 37px;
      border-radius: 50%;
      background-color: #3a3b3c;
      margin-right: 10px;
      svg {
        margin-top: 5px;
      }
    }
    &:hover {
      background-color: rgba(192, 192, 192, 0.116);
    }
    &:hover .action-img {
      filter: brightness(115%);
    }
    .flecheD {
      background-image: url(../../img/arrow-down-simple.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      transform: rotate(-90deg);
      filter: brightness(70%);
    }
    .svgIn {
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      filter: invert(80%);
    }

    .friendsInvite {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -343px;
    }
    .friendsAdd {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -301px;
    }
    .friendsList {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -322px;
    }
    .annif {
      background-image: url(../../img/paletteami.png);
      background-position: 0px -406px;
    }
  }

  .clair {
    color: #2d88ff !important;
    background-color: #2d88ff38 !important ;
  }
  .imgaccueil {
    background-color: $bleuClair !important;
  }
}
