.header {
  position: sticky;
  display: flex;
  top: 0px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 60px;
  background-color: #242526;
  border-bottom: 1px solid rgb(73, 73, 73);
  z-index: 1;
  .zoneGauche {
    display: flex;
    align-items: center;
  }
}
