.menu_right {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  padding: 5px 0;
  @media screen and (max-width: 1240px) {
    .menu_right__profil {
      display: none;
      justify-content: left;
    }
  }
  &__btn {
    margin: 0 5px;
    display: flex;
    justify-content: center;
  }
  .btnMenu {
    &:hover .menu_right__menu__tooltip {
      display: block;
    }
  }
  .btnMessenger {
    &:hover .menu_right__messenger__tooltip {
      display: block;
    }
  }
  .btnNotif {
    &:hover .menu_right__notif__tooltip {
      display: block;
    }
  }
  .btnCompte {
    &:hover .menu_right__compte__tooltip {
      display: block;
    }
  }
  &__profil {
    padding: 3px 8px 3px 1px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 30px;
      border-radius: 20px;
      margin-right: 5px;
    }
    span {
      color: white;
      font-weight: 600;
    }
    &:hover {
      background-color: #4f5052;
    }
  }

  .active {
    background-color: rgba(45, 136, 255, 0.2);

    span {
      color: #2d88ff;
      font-weight: 600;
    }
  }
}
