.messenger {
  background-color: #232525;
  border-radius: 10px 10px 0 0;
  height: 450px;
  width: 320px;
  overflow: hidden;
  .cursor {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #4b4d4e;
    }
  }
  &__conversation {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
      background-color: #252727;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 15px 5px 5px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.151);

      &__left {
        height: 100%;
        cursor: pointer;
        width: 180px;
        display: flex;
        align-items: center;

        padding: 5px;
        border-radius: 5px;
        margin-right: 20px;
        flex: 1.2;
        &__img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #3a3c3d;
          margin-right: 10px;
        }
        &__name {
          font-weight: 700;
          color: white;
        }
        &:hover {
          background-color: #4b4d4e;
        }
      }
      &__right {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__close {
          .close-tooltip {
            display: none;
            position: absolute;
            top: -30px;
            background-color: #d3d3d3ec;
            padding: 10px;
            border-radius: 10px;
            width: fit-content;
            color: black;
            font-size: 13px;
          }
          &:hover .close-tooltip {
            display: block;
          }
        }
      }
    }
    &__fil {
      overflow-y: scroll;
      overflow-x: hidden;
      flex: 1;
      padding: 0 10px;
      position: relative;
      &__ligne {
        margin: 5px 0;
        justify-content: right;
        align-items: flex-end;
        min-height: 50px;
        position: relative;
        display: flex;
        &__bulle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #4b4d4e;
          margin-left: 10px;
          bottom: 0;
        }
        &__message {
          display: block;
          position: relative;
          background-color: #4b4d4e;
          color: white;
          border-radius: 10px 10px 0px 10px;
          padding: 10px;
          max-width: 25ch;
          min-height: fit-content;
          word-wrap: break-word;
        }
      }
    }
    &__footer {
      min-height: 50px;
      background-color: #222121;
      display: flex;
      align-items: center;
      padding: 5px 10px 5px 10px;
      display: flex;
      justify-content: end;
      .hide {
        display: none;
      }
      &__listAction {
        transition: all 0.2s ease;
        display: flex;
        width: 130px;
        justify-content: space-between;
        margin-right: 15px;
        &__plus {
          width: 20px;
          height: 20px;
          background-color: #5d5e5f;
          position: relative;
          border-radius: 50%;
          cursor: pointer;
          .plusV {
            position: absolute;
            width: 10px;
            top: 45%;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            background-color: #222121;
          }
          .plusH {
            position: absolute;
            width: 10px;
            top: 44%;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            height: 2px;
            background-color: #222121;
          }
        }
      }
      &__input {
        transition: all 0.2s ease;
        min-width: 170px;
        height: 100%;
        border-radius: 20px;
        margin-right: 10px;
        padding: 10px;
        background-color: #323535;
        color: white;
        resize: none;
        flex: 1;
      }

      &__coeur {
        flex: 0;
      }
    }
  }
}
.hidden {
  display: none;
}

.messenger-reduit {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4b4d4e;
  position: absolute;
  right: -75px;
  bottom: 20px;
  cursor: pointer;
}
.show {
  display: block;
}
