.navigation {
  display: flex;
  width: $taille-mid;
  height: 100%;
  justify-content: space-between;
  padding: 2px 0;
  .logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.15s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(192, 192, 192, 0.192);
    }
  }
  .logoNav {
    svg {
      margin-top: 5px;
      width: 24px;
      fill: #c5c5c5;
    }
  }
  .logoNav_friends {
    svg {
      margin-top: 12px;
      width: 27px;
      fill: #c5c5c5;
    }
  }
  .logoNav_play {
    svg {
      margin-top: 5px;
      width: 27px;
      fill: #c5c5c5;
    }
  }
  .logoNav_market {
    svg {
      margin-top: 5px;
      width: 24px;
      fill: #c5c5c5;
    }
  }
  .logoNav_group {
    svg {
      margin-top: 5px;
      width: 24px;
      fill: #c5c5c5;
    }

    &::after {
      content: "2";
      width: 17px;
      height: 17px;
      background-color: red;
      border-radius: 10px;
      position: absolute;
      color: white;
      font-size: 12px;
      text-align: center;
      top: 10px;
      left: 70px;
    }
  }
  .active {
    box-shadow: 0 2px 0 #569af2;
    border-radius: 0;
    background-color: transparent;
    svg {
      fill: #569af2;
    }
    &:hover {
      background-color: transparent;
    }
  }
}
