.popup-messenger {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  .popup-messenger-search {
    display: flex;
    align-items: center;
    img {
      position: absolute;
      left: 25px;
      cursor: text;
    }
    input {
      color: white;
      height: 35px;
      width: 100%;
      background-color: #3a3b3c;
      border: none;
      border-radius: 50px;
      padding-left: 40px;
      &::placeholder {
        color: rgb(197, 197, 197);
      }
    }
  }
  .popup-messenger-contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .popup-messenger-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #38589849;
    height: 45px;
    a {
      color: #2d88ff;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
