.popup-compte {
  min-height: 250px;
  .popup-compte-profil {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    height: 80px;
    padding: 10px;
    margin-top: -10px;
    .popup-compte-profil-img {
      width: 60px;
      height: 60px;
      background-color: rgba(216, 203, 203, 0.521);
      border-radius: 50px;
      outline: none;
      overflow: hidden;
      margin-right: 15px;
    }
    .popup-compte-profil-text {
      display: flex;
      flex-direction: column;
      p {
        color: white;
        font-weight: 600;
        font-size: 17px;
      }
      a {
        font-size: 15px;
      }
    }
    &:hover {
      background-color: #8a8d9144;
    }
  }
  .popup-compte-avis {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    .popup-compte-img {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3c3c3d;
      border-radius: 35px;
      width: 37px;
      height: 37px;
      margin-right: 10px;
    }
    .popup-compte-avis-text {
      width: 80%;
      .popup-compte-avis-text-sub {
        font-size: 13px;
      }
      strong {
        font-size: 15px;
        color: #e4e6eb;
      }
    }
    &:hover {
      background-color: #8a8d9144;
    }
  }
  .popup-compte-option-list {
    display: flex;
    padding-bottom: 5px;
    .popup-compte-option {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .popup-compte-separator {
    margin: 10px 0;
    border-top: 1px solid grey;
  }
}
