.popup-notif {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  .popup-notif-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    span {
      font-weight: 600;
      font-size: 17px;
      color: white;
    }
    a {
      color: #2d88ff;
      padding: 5px;
      border-radius: 5px;
      &:hover {
        background-color: #57595c81;
      }
    }
  }
  .popup-notif-notif-list {
    display: flex;
    flex-direction: column;
  }
}
