.posts {
  width: 100%;
  min-height: 125px;
  background-color: #242526;
  border-radius: 10px;
  margin: 12.5px 0;
  position: relative;
  .posts-popup {
    top: -235px;
    left: -40px;
    position: absolute;
    z-index: 5;
    display: none;
  }
  .posts-header {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    .posts-header-img {
      border-radius: 20px;
      background-color: #76797c;
      width: 40px;
      height: 40px;
      margin-right: 7px;
      cursor: pointer;
      &:hover {
        filter: brightness(110%);
      }
    }
    .posts-header-title {
      display: flex;
      flex-direction: column;
      width: 85%;
      // On affiche la pop up au mouseover du lien h4>a
      h4 a:hover .posts-popup {
        display: block;
      }
      h4 a {
        color: white;
        width: fit-content;
        &:hover {
          text-decoration: underline;
        }
      }
      a {
        width: fit-content;
        &:hover {
          text-decoration: underline;
        }
      }
      .posts-header-subTitle {
        display: flex;
        align-items: center;
        position: relative;
        span {
          font-size: 13px;
          margin-right: 15px;
          &::after {
            content: "";
            background-color: #76797c;
            width: 3px;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 23px;
            border-radius: 10px;
          }
        }
        img {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
  .posts-header-btnOption {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: url(../../img/more.svg) center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      background-color: #40414279;
    }
  }
  .posts-content {
    padding: 0px 15px;
    margin-bottom: 15px;
    color: white;
  }
  .posts-img {
    background-color: #76797c;
    width: 100%;
    height: 200px;
  }
  .posts-footer {
    width: 95%;
    min-height: 50px;
    margin: 10px 15px;
    .posts-footer-like {
      border-bottom: 1px solid #3a3b3c;
      display: flex;
      width: 100%;
      padding: 0 0 10px 0;
      justify-content: space-between;
      .posts-footer-like-left {
        display: flex;
      }
      .posts-footer-like-right {
        a:hover {
          text-decoration: underline;
        }
      }
      .posts-footer-like-list {
        margin-right: 10px;
      }
      .posts-footer-like-libelle {
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .posts-footer-btn {
      height: 40px;
      //border-bottom: 1px solid #3a3b3c;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1px;
    }
  }
}
