.posts {
  width: 100%;
  min-height: 125px;
  background-color: #242526;
  border-radius: 10px;
  margin: 12.5px 0;
  position: relative;
  .posts-popup {
    top: -235px;
    left: -100px;
    position: absolute;
    z-index: 5;
    display: none;
  }
  .posts-popup-fromImg {
    top: -235px;
    left: -150px;
    position: absolute;
    z-index: 5;
    display: none;
    transition: display 0.5s ease;
  }
  .posts-header {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    .posts-header-img {
      border-radius: 20px;
      background-color: #76797c;
      width: 40px;
      height: 40px;
      margin-right: 7px;
      cursor: pointer;
      &:hover .posts-popup-fromImg {
        display: block;
      }
    }
    .posts-header-title {
      display: flex;
      flex-direction: column;
      width: 85%;
      // On affiche la pop up au mouseover du lien h4>a
      h4 a:hover .posts-popup {
        display: block;
      }
      h4 a {
        color: white;
        width: fit-content;
        &:hover {
          text-decoration: underline;
        }
      }
      a {
        width: fit-content;
        &:hover {
          text-decoration: underline;
        }
      }
      .posts-header-subTitle {
        display: flex;
        align-items: center;
        position: relative;
        span {
          font-size: 13px;
          margin-right: 15px;
          &::after {
            content: "";
            background-color: #76797c;
            width: 3px;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 23px;
            border-radius: 10px;
          }
        }
        img {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
  .posts-header-btnOption {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: url(../../img/more.svg) center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      background-color: #40414279;
    }
  }
  .posts-content {
    padding: 0px 15px;
    margin-bottom: 15px;
    color: white;
  }
  .posts-img {
    background-color: #76797c;
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      background-position: top;
    }
  }
  .posts-footer {
    width: 95%;
    min-height: 50px;
    margin: 10px 15px;
    .posts-footer-like {
      border-bottom: 1px solid #3a3b3c;
      display: flex;
      width: 100%;
      padding: 0 0 10px 0;
      justify-content: space-between;
      .posts-footer-like-left {
        display: flex;
      }
      .posts-footer-like-right {
        a:hover {
          text-decoration: underline;
        }
        .numberComment {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .posts-footer-like-list {
        margin-right: 10px;
        display: flex;
        align-items: center;
        img {
          border: 1px solid #242526;
        }
      }
      .posts-footer-like-libelle {
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .posts-footer-btn {
      height: 40px;
      //border-bottom: 1px solid #3a3b3c;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1px;
      width: 100%;
      .footer__btn {
        position: relative;
        width: 33%;
        &:hover .footer__btn__popupLike {
          opacity: 100;
          top: -45px;
          z-index: 5;
        }
        &__popupLike {
          display: flex;
          opacity: 0;
          position: absolute;
          width: fit-content;
          border-radius: 20px;
          background-color: #242526;
          z-index: -5;
          top: 0px;
          transition: all 0.2s ease;
          transition-delay: 550ms;
          img {
            margin: 0 3px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .posts__footer__comment {
    border-top: 1px solid #3a3b3c;
    padding: 5px 0;
    display: none;
    &__sort {
      text-align: right;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
    }
    &__myComment {
      display: flex;
      position: relative;
      height: 35px;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
      &__profil {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(99, 99, 99);
        cursor: pointer;
      }
      &__inputEtLogo {
        width: 93%;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        input {
          background-color: #3a3b3c;
          width: 100%;
          height: 100%;
          border-radius: 30px;
          padding-left: 10px;
        }
        &__logo {
          height: 100%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          .btnComment {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 100%;
            // background-color: rgba(104, 104, 104, 0.76);
            border-radius: 50%;
            cursor: pointer;
            &:hover {
              background-color: rgba(104, 104, 104, 0.315);
            }

            .smallbBtn {
              width: 16px;
              height: 16px;
              background-color: transparent;
              background-image: url("../../img/palette8.png");
              background-repeat: no-repeat;
              background-size: auto;
              filter: invert(62%) sepia(98%) saturate(12%) brightness(90%)
                contrast(96%);
            }

            &__imgSmile {
              background-position: 0px -459px;
            }
            &__imgPhoto {
              background-position: 0px -408px;
            }
            &__imgGIF {
              background-position: 0px -476px;
            }
          }
        }
      }
    }
    &__list {
      width: 100%;
      .comment_containt {
        width: 100%;
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;
      padding-top: 2px;
      &__moreComment {
        font-weight: 600;
        .moreComment {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
