.profil {
  margin: 0 auto;
  background-color: #18191a;
  .btn-more {
    background-color: #5c5c5c67;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 700;
    &:hover {
      filter: brightness(115%);
    }
  }
  &__header {
    height: 680px;
    background-color: #242526;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__couverture {
      height: 460px;
      width: 1250px;
      background-color: grey;
      position: relative;
      button {
        position: absolute;
        bottom: 20px;
        right: 30px;
        width: 265px;
        height: 35px;
        color: black;
        background-color: white;
        border-radius: 7px;
        font-weight: 600;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__mid {
      width: 1250px;
      height: 160px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__imgProfil {
        position: relative;
        top: -30px;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: grey;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__donnee {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        flex: 2;
        a:hover {
          text-decoration: underline;
        }
        .name {
          font-size: 32px;
          color: white;
          font-weight: 700;
        }
      }
      &__action {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        .listFriends {
          display: flex;
          width: 200px;
          align-items: center;
          .listFriends__friend {
            position: relative;
            width: 35px;
            height: 35px;
            background-color: gray;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
            z-index: 10;
            &:hover {
              filter: brightness(110%);
            }
            &:hover .listFriends__friend__popup {
              display: block;
            }
            &:nth-child(2) {
              left: -5px;
            }
            &:nth-child(3) {
              left: -10px;
            }
            &:nth-child(4) {
              left: -15px;
            }
            &__popup {
              display: none;
              position: absolute;
              top: 35px;
              left: -150px;
            }
          }
        }
        &__btn {
          display: flex;
          justify-content: space-between;
          .btnAction {
            margin: 0 5px;
            border-radius: 7px;
            width: 155px;
            height: 35px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &:hover {
              filter: brightness(115%);
            }
            span {
              color: white;
              font-weight: 600;
            }
            img {
              filter: invert(100%);
            }
          }
          .addStory {
            background-color: $bleuClair;
          }
          .modifyProfil {
            background-color: #5c5c5c67;
          }
        }
      }
    }
    &__menu {
      width: 1220px;
      height: 65px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(128, 128, 128, 0.479);
      ul {
        display: flex;
        list-style: none;
        font-weight: 600;
        height: 100%;
        align-items: center;
        a {
          padding: 0 15px;
          height: 90%;
          display: flex;
          align-items: center;
          border-radius: 10px;
          transition: all 0.15s ease;
          cursor: pointer;
          &:hover {
            background-color: rgba(192, 192, 192, 0.192);
          }
        }
      }
    }
  }
  &__body {
    min-height: 500px;
    width: 1220px;
    margin: 0 auto;
    padding-top: 5px;
  }
  .active {
    background-color: transparent;
    box-shadow: 0 2px 0 #569af2;
    border-radius: 0;
    li {
      color: #569af2;
    }
    &:hover {
      background-color: transparent;
    }
  }
}
