.profil {
  margin: 0 auto;
  background-color: #18191a;
  &__header {
    height: 680px;
    background-color: #242526;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__couverture {
      height: 460px;
      width: 1250px;
      background-color: grey;
      position: relative;
      button {
        position: absolute;
        bottom: 20px;
        right: 30px;
        width: 265px;
        height: 35px;
        color: black;
        background-color: white;
        border-radius: 7px;
        font-weight: 600;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__mid {
      width: 1250px;
      height: 160px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__imgProfil {
        position: relative;
        top: -30px;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: grey;
      }
      &__donnee {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        flex: 2;
        .name {
          font-size: 32px;
          color: white;
          font-weight: 700;
        }
      }
      &__action {
        display: flex;
        justify-content: space-between;

        &__btn {
          display: flex;
          justify-content: space-between;
          .btnAction {
            margin: 0 5px;
            border-radius: 7px;
            width: 155px;
            height: 35px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &:hover {
              filter: brightness(115%);
            }
            span {
              color: white;
              font-weight: 600;
            }
            img {
              filter: invert(100%);
            }
          }
          .addStory {
            background-color: $bleuClair;
          }
          .modifyProfil {
            background-color: #5c5c5c67;
          }
        }
      }
    }
    &__menu {
      width: 1220px;
      height: 65px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(128, 128, 128, 0.479);
      ul {
        display: flex;
        list-style: none;
        font-weight: 600;
        height: 100%;
        align-items: center;
        a {
          padding: 0 15px;
          height: 90%;
          display: flex;
          align-items: center;
          border-radius: 10px;
          transition: all 0.15s ease;
          cursor: pointer;
          &:hover {
            background-color: rgba(192, 192, 192, 0.192);
          }
        }
      }
    }
  }
  &__body {
    min-height: 500px;
    width: 1220px;
    margin: 0 auto;
    padding-top: 5px;
  }
  .active {
    background-color: transparent;
    box-shadow: 0 2px 0 #569af2;
    border-radius: 0;
    li {
      color: #569af2;
    }
    &:hover {
      background-color: transparent;
    }
  }
}
