.search {
  display: flex;
  align-items: center;
  img {
    position: absolute;
    left: 70px;
    cursor: text;
  }
  input {
    color: white;
    height: 40px;
    width: 240px;
    background-color: #3a3b3c;
    border: none;
    border-radius: 50px;
    padding-left: 40px;
    &::placeholder {
      color: rgb(197, 197, 197);
    }
  }
}
