.story {
  width: 108px;
  height: 192px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  &:hover {
    filter: brightness(95%);
  }
  .fond {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    background-color: #303031;
    border-radius: 10px;
    overflow: hidden;
    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(105%);
      }
    }
  }
  .img-mini {
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 15px;
    border-radius: 20px;
    background-color: #454546;
    border: 3px solid #4395ff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 120%;
      height: 120%;
    }
  }
  span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90px;
    color: white;
    font-weight: 600;
  }
  .story-btnAdd {
    background-color: #4395ff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    border: 5px solid #242526;
    img {
      width: 17px;
    }
  }
  .story-title-first {
    font-size: 13px;
    text-align: center;
  }
}
