.stories {
  display: flex;
  width: 100%;
  min-height: 200px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px 0;
  position: relative;
  &__card {
    width: 108px;
    height: 192px;
    margin: 0 2px;
    @media screen and (max-width: 1450px) {
      width: 125px;
      height: 210px;
    }
    @media screen and (max-width: 1080px) {
      width: 108px;
      height: 192px;
    }
  }
  .stories-btn-next {
    position: absolute;
    right: -20px;
  }
}
