.widget-sponsors {
  margin-bottom: 15px;
  width: 100%;
  p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .widget-sponso-list {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .widget-sponso-card {
      height: 145px;
      border-radius: 5px;
      display: flex;
      padding: 5px;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s ease-out;
      &:hover {
        background-color: #3e4042;
      }
      img {
        width: 135px;
        height: 135px;
        margin-right: 10px;
        border-radius: 15px;
        background-color: #000000;
      }
      .widget-sponso-card-text {
        .titre {
          color: white;
          font-size: 15px;
          margin: 0 0 5px 0;
        }
        .site {
          font-size: 13px;
        }
      }
    }
  }
}
