.widget-right {
  position: fixed;
  height: 100vh;
  width: 350px;
  margin-right: 10px;
  font-weight: 600;
  margin-top: 20px;
  right: 0px;
  .widget-right-contact {
    border-top: 1px solid #3e4042;
    padding-top: 10px;
    .widget-right-contact-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .widget-right-contact-title {
        font-size: 17px;
      }
      .widget-right-contact-btnList {
        display: flex;
        justify-content: space-between;
        width: 110px;
      }
    }
  }
}
